
sandbox/caches/8.3/scripts/1w621muyzo6kq9xiid5zq3rnt/proj/_BuildScript_.class
sandbox/caches/8.3/scripts/5h71afnt0boh6ujgem33gshc0/5h71afnt0boh6ujgem33gshc0.lock
sandbox/caches/8.3/scripts/5h71afnt0boh6ujgem33gshc0/cache.properties
*.bin
*.lock
*.jar
*.log
*.receipt
*.class
sandbox/caches/8.3/scripts/9t3uakslqwgl735k9pavbbwq6/cache.properties
sandbox/caches/8.3/scripts/e8xs5soxt5g0y5k57t5bibx68/cache.properties
sandbox/caches/8.3/scripts/e9czenmkg2o783ykpljjl7m26/cache.properties
sandbox/caches/8.3/scripts/g41duoatejcmr31458vjfx7c/cache.properties
sandbox/caches/8.3/scripts/6mb2vm5dcrirjefl8kleujd5w/cache.properties
sandbox/caches/8.3/scripts/5j2hmvon0aq67okt2hsnjgl5x/cache.properties
sandbox/caches/8.3/scripts/1w621muyzo6kq9xiid5zq3rnt/cache.properties
*.properties
*.lock
*.lock
*.bin
*.lock
*.bin
*.lock
sandbox/.gradle/8.3/fileHashes/fileHashes.lock
sandbox/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sandbox/caches/CACHEDIR.TAG
sandbox/daemon/CACHEDIR.TAG
*.TAG
sandbox/wrapper/dists/gradle-8.3-bin/dxjbbhstwasg8cbags9q7cvli/gradle-8.3-bin.zip.lck
sandbox/wrapper/dists/gradle-8.3-bin/dxjbbhstwasg8cbags9q7cvli/gradle-8.3-bin.zip.ok
*.dll
*.bin
*.lock
*.bin
*.lock
*.bin
*.lock
*.bin
